{% extends 'ArdemisMainBundle::base_sass.html.twig' %}

{% block headline %}{% endblock %}

{% block content %}
        <img class="center-block" style="padding: 5px" src="{{ asset('bundles/ardemismain/img/logo-ap.png') }}">
        <h2 style="font-size: 1.5em; text-align: center; text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);">CONSEIL ET<br/>RECRUTEMENT DIGITAL</h2>
        <img class="center-block" style="margin-top: 25px" src="{{ asset('bundles/ardemismain/img/logo-wsi.png') }}"
{% endblock %}
