{% extends 'ArdemisMainBundle::base_sass.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <ul>
            <li><a href="{{ path('offres') }}">Offres d'emploi</a></li>
            <li><a href="{{ path('agency') }}">Agences</a></li>
        </ul>
    </div>
{% endblock %}