{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block content_content %}
    <ul>
        <li><a href="{{ path('offres') }}">Offres d'emploi</a></li>
        <li><a href="{{ path('site') }}">Agences</a></li>
    </ul>
{% endblock %}