{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block menu %}

{% endblock %}

{% block page %}
    <h1>Hello !</h1>
    <ul>
        <li><a href="{{ path('offres') }}">Offres d'emploi</a></li>
        <li><a href="{{ path('site') }}">Agences</a></li>
    </ul>

{% endblock %}